.requestServiceTable{
    display: flex;
    border-collapse: collapse;
    flex-direction: column;
    padding: 8rem;
    margin-left: 30px;
    width: 100%;
    align-items: left;
    justify-content: left;
    position: relative;
    right: 20px;
    text-align: left;
    font-size: 1rem;
}



 .requestServiceTable th{
    justify-content: left;
    text-align: left;
    padding: 500px;
    font-size: 1rem;
}  

.requestServiceForm{
    display: flex;
    flex-direction: column;
    padding: 7rem;
    align-items: right;
    justify-content: right;
    position: relative;
    right: 150px;
    text-align: right;
    font-size: 1rem;
}

.label{
    display: block;
    justify-content: right;
    align-items: right;
}

.field{
    padding: 12px;
}

.btns{
    padding-top: 8rem;
}

.btn-space{
    margin-right: 10px;
}
